<a href="https://colab.research.google.com/github/Nauman7861/Log-book/blob/main/Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('/content/adult_data_mini.csv')

In [11]:
sid = 2443834
n = sid % 10
if n == 0:
  n = 10
print(f"The value of n is: {n}")

The value of n is: 4

In [7]:
relationship_hours_group = data.groupby(['relationship', 'hours-per-week']).size()
display(relationship_hours_group)

relationship   hours-per-week
Husband        13                1
               40                4
               45                1
               80                1
Not-in-family  16                1
               40                2
               50                2
Own-child      30                1
Wife           40                2
dtype: int64

In [8]:
def reduce_hours(hours):
  return hours - n

data['hours-per-week_reduced'] = data['hours-per-week'].apply(reduce_hours)
display(data[['hours-per-week', 'hours-per-week_reduced']].head())

   hours-per-week  hours-per-week_reduced
0              40                      36
1              13                       9
2              40                      36
3              40                      36
4              40                      36

In [10]:
relationship_reduced_hours_group = data.groupby(['relationship', 'hours-per-week_reduced']).size()
display(relationship_reduced_hours_group)

relationship   hours-per-week_reduced
Husband        9                         1
               36                        4
               41                        1
               76                        1
Not-in-family  12                        1
               36                        2
               46                        2
Own-child      26                        1
Wife           36                        2
dtype: int64